# NetBeans Specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Compiled Class Files
*.class

# Package Files
*.jar
*.war
*.ear

# Virtual Machine Logs
*.log